\// $(".my-message").append('
%br>/
' + '
.chat-message__name>
  ' + '#{image_tag(@message.user.avatar, class: "message-avatar")}' + '#{@message.body}' + '
');




\//
%br/
\//
.chat-message__name
  \//   #{image_tag(@message.user.avatar, class: "message-avatar")}
  \//   #{@message.body}
  \//
